/* * {
    margin: 0;
    padding: 0;
    }
    h1 {
    color: #4286f4;
    margin-top: 30px;
    margin-bottom: 60px;
    }*/
    div {
    align-content: center;
    width: 80%;
    margin: 0 auto;
    }
 
 .col-sm-4{
  padding: 50px 80px;
}


 .hotels {
    padding: 10px;
    margin-top: 0px;
}

.card-img-tag center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card-body  {
  word-break:break-all;
  
}

.card-img-top {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.image-name {
  align-content: center;

}

.card-center{
  align-content: center;
}


